<div class="row">
  <div class="col-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NAME</th>
          <th scope="col">PAN</th>
          <th scope="col">AMMOUNT</th>
          <th scope="col">ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards$ | async; index as i">
          <th scope="row">{{i}}</th>
          <td>{{card.name}}</td>
          <td>{{card.pan}}</td>
          <td>{{card.amount | currency}}</td>
          <td>DETAILS | CHANGE PIN</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
